@model OrderVM

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-12 d-flex gap-3">
            <div class="w-25">
                <form asp-controller="Order" asp-action="Index" method="get" class="d-flex">
                    <input type="text" placeholder="Search a user..." class="form-control" name="nameSearchQuery" />
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
            <div class="w-25">
                <form asp-controller="Order" asp-action="Index" method="get">
                    <select class="form-select" name="orderStatus" asp-items="Model.StatusList" onchange="this.form.submit()">
                        <option value="">All Order Statuses</option>
                    </select>
                </form>
            </div>
            <div class="w-25">
                <form asp-controller="Order" asp-action="Index" method="get">
                    <select class="form-select" name="paymentMethod" asp-items="Model.PaymentMethodList" onchange="this.form.submit()">
                        <option value="">All Payment Methods</option>
                    </select>
                </form>
            </div>
            <div class="w-25">
                <form asp-controller="Order" asp-action="Index" method="get" class="d-flex">
                    <input type="text" placeholder="Search a users city..." class="form-control" name="citySearchQuery" />
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    @if (Model.Orders == null || !Model.Orders.Any())
    {
        <h4 class="test-center">No placed orders.</h4>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User Email</th>
                    <th>Order Total</th>
                    <th>Status</th>
                    <th>Payment Method</th>
                    <th>Order Date</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.User.Email</td>
                        <td>@order.TotalAmount.ToString("N2") $</td>
                        <td>@order.Status</td>
                        <td>@order.PaymentMethod</td>
                        <td class="text-center">@order.OrderDate</td>
                        @if(!string.IsNullOrEmpty(order.User.City))
                        {
                            <td>@order.User.City</td>
                        }
                        else
                        {
                            <td>No data</td>
                        }
                        <td>
                            <div class="w-100 d-flex gap-2 align-items-center btn-group" role="group">
                                <a asp-controller="Order" asp-action="Edit" asp-route-id="@order.Id" class="btn btn-warning d-flex flex-column w-50 fw-bold">
                                    <i class="bi bi-pencil-square"></i> Edit Status
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center" style="margin-bottom: 75px;">
            <div class="d-flex align-items-center gap-3">
                @if(ViewBag.PageNum == 1)
                {
                    <a class="btn btn-success fw-bold">
                        &lt;
                    </a>
                }
                else
                {
                  <a class="btn btn-success fw-bold"
                   asp-controller="Order"
                   asp-action="ChangePagination"
                   asp-route-change="-1"
                   asp-route-currentPageNum="@ViewBag.PageNum">
                    &lt;
               </a>   
                }
               <p class="m-0 fw-bold">@ViewBag.PageNum</p>
                @if (ViewBag.HasNextPage)
                {
                    <a class="btn btn-success fw-bold"
                       asp-controller="Order"
                       asp-action="ChangePagination"
                       asp-route-change="+1"
                       asp-route-currentPageNum="@ViewBag.PageNum">
                        &gt;
                    </a>
                }
                else
                {
                    <a class="btn btn-success fw-bold">
                        &gt;
                    </a>
                }
            </div>
        </div>
    }
</div>