@model List<Product>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-4">
            <form class="position-relative w-75">
                <div class="dropdown-wrapper">
                    @Html.DropDownList("categoryId",
                            ViewBag.Categories as SelectList,
                            "All Categories",
                            new { @class="form-control", onchange = "this.form.submit()" })
                    <i class="bi bi-chevron-down position-absolute top-50 end-0 translate-middle-y me-3"></i>
                </div>
            </form>
        </div>
        <div class="col-4">
            <form asp-controller="Product" asp-action="Index" method="get" class="d-flex">
                <input type="text" placeholder="Search a product..." class="form-control" name="searchQuery" />
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <div class="col-4 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-success fw-bold">
                <i class="bi bi-plus-circle"></i> Create New Product
            </a>
        </div>
    </div>
    @if (Model == null || !Model.Any())
    {
        <h4 class="test-center">No added products, add some.</h4>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th class="px-4">Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td class="d-flex justify-content-center">
                            <img src="@product.ImageUrl" width="120px" height="90px" style="object-fit: contain" />
                        </td>
                        <td>@product.Brand</td>
                        <td>@product.Category.Name</td>
                        <td>@product.Price.ToString("N2") $</td>
                        <td>
                            <div class="w-100 mt-3 d-flex gap-2 align-items-center btn-group" role="group">
                                <a asp-controller="Product" asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-warning d-flex flex-column w-50 fw-bold">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger d-flex flex-column w-50 fw-bold">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center" style="margin-bottom: 75px">
            <div class="d-flex align-items-center gap-3">
                @if (ViewBag.PageNum == 1)
                {
                    <a class="btn btn-success fw-bold">
                        &lt;
                    </a>
                }
                else
                {
                    <a class="btn btn-success fw-bold"
                       asp-controller="Product"
                       asp-action="ChangePagination"
                       asp-route-change="-1"
                       asp-route-currentPageNum="@ViewBag.PageNum">
                        &lt;
                    </a>
                }
                <p class="m-0 fw-bold">@ViewBag.PageNum</p>
                @if (ViewBag.HasNextPage)
                {
                    <a class="btn btn-success fw-bold"
                       asp-controller="Product"
                       asp-action="ChangePagination"
                       asp-route-change="+1"
                       asp-route-currentPageNum="@ViewBag.PageNum">
                        &gt;
                    </a>
                }
                else
                {
                    <a class="btn btn-success fw-bold">
                        &gt;
                    </a>
                }
            </div>
        </div>
    }
</div>